body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 18px;
    background: #196E8B;
    }
    .toy{
        position:absolute;
        size: 40px;
        margin-left: 260px;
    }
    .tree{
    position:absolute;
    margin-top: 50px; 
    margin-left: 260px;
    }
    button{
        color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 10px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    }
    button:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
    }
    button:hover:before {
    transform: translate(4px, 4px);
    }
    