body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 18px;
    background: #196E8B;
    }
    .toy{
        position:absolute;
        size: 40px;
        margin-left: 260px;
    }
    .tree{
    position:absolute;
    margin-top: 50px; 
    margin-left: 260px;
    }

    
